name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"  # 매일 자정 실행
  workflow_dispatch:  # 수동 실행 가능
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: dev-minimalism
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Seoul

          # Organization 포함
          repositories_affiliations: owner, collaborator, organization_member

          # 언어 통계
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 30
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_languages_other: yes

          # 출력 파일
          filename: github-metrics.svg
